<section class="main-page">
  <div class="row marketing">
    <div class="col-sm-4 text-center">
      <div class="service">
        <i class="fa fa-home fa-2x"></i> <i class="fa fa-plus"></i> <i class="fa fa-globe fa-2x"></i>

        <p>Let us build a home for you or your business on the Web. W Designs delivers beautiful, functional websites
          for you and your customers.</p>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="service">
        <i class="fa fa-desktop fa-2x"></i> <i class="fa fa-laptop fa-2x"></i> <i class="fa fa-tablet fa-2x"></i>
        <i class="fa fa-mobile fa-2x"></i>

        <p>Responsive, mobile-first design techniques are utilized to effectively drive traffic from mobile devices as
          well as traditional surfing apparatuses such as desktops and laptops.</p>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="service">
        <i class="fa fa-refresh fa-2x"></i> <i class="fa fa-plus"></i> <i class="fa fa-wrench fa-2x"></i>

        <p>The Web is increasing in complexity and capability, and with this comes the need to modernize older websites.
          W Designs can help you with partial to complete website rebuilding and retooling.</p>
      </div>
    </div>
  </div>
</section>
