<div class="row services-page">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
    <h3>Web Services</h3>
    <dl ng-repeat="webService in services.webServices">
      <dt>{{ webService.name }}</dt>
      <dd>{{ webService.description }}</dd>
    </dl>
  </div>
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
    <h3>Graphic Design Services</h3>
    <dl ng-repeat="graphicService in services.graphicServices">
      <dt>{{ graphicService.name }}</dt>
      <dd>{{ graphicService.description }}</dd>
    </dl>
  </div>
</div>
